system/system/system_ext/app/AmazonWebView/AmazonWebView.apk
system/system/system_ext/priv-app/com.amazon.mp3/com.amazon.mp3.apk
system/system/system_ext/priv-app/com.amazon.kindle/com.amazon.kindle.apk
