#
# Copyright (c) 2018 - 2021 Amazon.com, Inc. or its affiliates.  All rights reserved.
# PROPRIETARY/CONFIDENTIAL.  USE IS SUBJECT TO LICENSE TERMS.
#
on post-fs-data
    # Create directory for adm dropbox files
    mkdir /data/adm-dropbox 0766 system vendor_amazon_gid
    chown system vendor_amazon_gid /data/adm-dropbox
    chmod 0770 /data/adm-dropbox
